/*
#E1F0DA
#D4E7C5
#BFD8AF
#99BC85
*/
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
* {
    margin:0;
    padding:0;
}
*:focus {
    outline: 0;
}
.container {
    display: flex;
    height: 100vh;
    margin: 0;
    width:100vw;
    flex-direction: column;
    background-color: #D4E7C5;
    justify-content: center;
    align-items: center;
}
.message{
    color: #789461;
    margin-bottom: 20px;
    font-family: 'DM Serif Display', serif;
}

.sideMenu {
    background-color: cadetblue;
    width:15%;
}

.timer {
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.buttonContainer {
    display: flex;
}

button {
    margin:0 5px;
}

.clock {
    width: 45%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.remainTime {
    cursor: default;
    font-size: 80px;
    color:#294B29;
    font-family: 'DM Serif Display', serif;
    letter-spacing: 10px;
}

.content {
    background-color: coral;
    width:25%;
}
/*.round {*/
/*    color: #294B29;*/
/*    font-size: 34px;*/
/*}*/
button {
    border: 0;
    background-color: #9DBC98;
    font-size: 24px;
    color: #FBFADA;
    font-family: 'DM Serif Display', serif;
    padding: 5px 15px;
    border-radius: 5px;
    box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
    cursor: pointer;
}
.successDot {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #43766C;
}
button:hover {
    background: #43766C;
}

.login,
.logout {
    position: absolute;
    top:20px;
    right:40px;
}
