
* {
    margin:0;
    padding:0;
}
.container {
    display: flex;
    height: 100vh;
    margin: 0;
    width:100vw;
}

.sideMenu {
    background-color: cadetblue;
    width:15%;
}

.timer {
    background-color: bisque;
    width:60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.clock {
    width: 400px;
    height: 400px;
    /*background-color: crimson;*/
    border-radius: 50%;
    border:1px saddlebrown solid;
}


.content {
    background-color: coral;
    width:25%;
}
